 <nav class="navbar navbar-inverse visible-xs">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">管理者画面</a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to('Logout', destroy_admin_session_path, :method => :delete) %></li>
      <li><%= link_to "商品一覧へ", admins_products_path %></li>
      <li><%= link_to "商品の追加" , new_admins_product_path %></li>
      <li><%= link_to "ユーザー情報一覧" , admins_users_path %></li>
    </ul>
  </div>
</div>
</nav>

<div class="container-fluid">
<div class="row content">
  <div class="col-sm-3 sidenav hidden-xs">
    <h2>管理者画面</h2>
    <ul class="nav nav-pills nav-stacked">
    <li class="active"><%= link_to('Logout', destroy_admin_session_path, :method => :delete) %></li>
    <li><%= link_to "商品一覧へ", admins_products_path %></li>
    <li><%= link_to "商品の追加" , new_admins_product_path %></li>
    <li><%= link_to "ユーザー情報一覧" , admins_users_path %></li>    </ul><br>
  </div>
  <br>
  
</div>
