<div class="row content">
  <div class="col-sm-5 border">

<h1> マイページ</h1>
<div>
 <label>性別 : <%= @user.gender_i18n %></label>
</div>
<div class="field">
 <label>
 名前 : <%= @user.last_name + @user.first_name %>
 (<%= @user.last_name_kana + @user.first_name_kana %>)
 </label><br>
 <label>メールアドレス : <%= @user.email %></label><br>
 <label>生年月日 : <%= @user.birth_date.strftime("%Y年%m月%d日") %></label><br>
 <label>最終更新日 : <%= @user.updated_at.strftime("%Y年%m月%d日") %></label>
 </div>
 <%= link_to "編集" , edit_user_path(@user) %>
</div>

  <div class="col-sm-5">

    <% @user.addresses.each_with_index do |address,i|%>
    <div class="border">
	<label>< 配送先<!-- 配送先番号 --><% i += 1 %><%= i %> ></label><br>
	<label>宛名 : <%= address.to_name %>(<%= address.to_name_kana %>)</label><br>
	 <label>郵便番号 : 〒<%= address.postal_code %></label><br>
	 <label>住所 : <%= address.address %></label><br>
	 <label>電話番号 : <%= address.tel_number %></label><br>
    <%= link_to "変更", edit_address_path(address) %>
    <%= link_to "削除", address_path(address), method: :delete %><br>
    </div>
    <%end%>
</div>
</div>

<div>
<%= link_to "配送先を追加する", new_address_path %>
</div>