<h1> マイページ</h1>
<div>
 <label>性別 : <%= @user.gender_i18n %></label>
</div>
<div class="field">
 <label>名前 : <%= @user.last_name + @user.first_name %></label><br>
</div>
<div>
	<% @user.addresses.each do |address|%>
	<label><配送先<%= address.id %>></label><br>
	<label>宛名 : <%= address.to_name %>(<%= address.to_name_kana %>)</label><br>
	 <label>郵便番号 : <%= address.postal_code %></label><br>
	 <label>住所 : <%= address.address %></label><br>
	 <label>電話番号 : <%= address.tel_number %></label>
    <%= link_to "変更", edit_address_path(address) %>
    <%= link_to "削除", address_path(address), method: :delete %>
	<%end%>
</div>
<div>
<%= link_to "配送先を追加する", new_address_path %>
</div>
<%= link_to "商品一覧へ", products_path %>
