<%= render 'admins/list' %>

<h1><%= @user.last_name %>のマイページ</h1>
<div>
 <label>性別 : <%= @user.gender_i18n %></label>
</div>
<div class="field">
 <label>名前 : <%= @user.last_name %></label><br>
 <label>メールアドレス : <%= @user.email %></label>
</div>

