<%= stylesheet_link_tag "admin/sessions", :media => "all" %>

<div class="adminbody">
  <div class="admincontents">
  <h1>CD侍</h1>
  <h2>管理者ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,:size => "60"%>
    </div>

    <div class="field">
      <%= f.label "パスワード" %><br />
      <%= f.password_field :password, autocomplete: "current-password",:size => "60" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label "ログイン状態を保持する" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>

  </div>
</div>