<h2>パスワードを忘れましたか？</h2>
<p>以下のフォームにメールアドレスを入力してください。<br>
	パスワードを再発行するためのリンクを送信します。</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "パスワードを再発行する" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
