
<h1>商品詳細</h1>
<div class="col-xs-10">
	<div class="col-xs-6" style="text-align: center;">
	<h3><%= @product.cd_title %></h3>
	<div><%= attachment_image_tag @product, :product_image, :fill, 200, 200 %></div>
	<% if @product.buy_capable == true %>
	<span style="color: blue;">販売中</span>
	<% else %>
	<span style="color: red;">売り切れ</span>
	<% end %>

	</div>

	<div class="col-xs-6">
		<h3> CD/アルバム情報</h3>
		<% @product.product_discs.each_with_index do |disc,i| %>
		  <strong>
		    ディスク<!-- ディスク番号 --><% i += 1 %><%= i %>
		  </strong>
			<%= disc.disc_title %><br>
			<% disc.product_disc_songs.each_with_index do |song,i| %>
				<strong>
				  曲名<!-- 曲番号 --><% i += 1 %><%= i %>
				</strong>
				<%= song.song_name %><br>
			<% end %>

		<% end %>

		<strong>アーティスト名</strong>
		<%= @product.artist_name %><br>
		<strong>レーベル名</strong>
		<%= @product.label_name %><br>
		<strong>ジャンル</strong>
		<%= @product.genre.genre_name %><br>
		<strong>在庫数</strong>
		<%= @product.stock %>個あるよ<br>
		<strong>価格</strong>
		<%= @product.price %>円<br>
	</div>
</div>

<div class="col-xs-10", style="text-align: right;">
   <% if @product.cart_by(current_user) %>
   <%= link_to carts_path  do %>
   <% @product.cart_add(current_user) %>
　　<p style="text-align: right;"><strong>カートに入れる</strong></p>
   <% end %>
   <%else%>
	<%= link_to product_carts_path(@product), method: :post do %>
		<p style="text-align: right;"><strong>カートに入れる</strong></p>
	<%end%>
	<%end%>
</div>