<!DOCTYPE html>
<html>
  <head>
    <title>CdSamurai</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <div class="container-fluid">
        <div class="row">
          <%= render 'admins/side' %>
          <div class="col-sm-9">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <%= render 'shared/list' %>
      <div class="container-fluid body">
        <div class="row">
          <%= render 'shared/side' %>
          <div class="col-sm-9">
            <%= yield %>
          </div>
        </div>
      </div>
    <% end %>
  </body>

</html>
