<div class="col-sm-10">

<h2> 新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label "※名前　：　" %>
    <label>姓　
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></label>
    <label>名　
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></label>
  </div>

  <div class="field">
    <%= f.label "※カナ　：　" %>
    <label>セイ
    <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %></label>
    <label>メイ
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %></label>
  </div>

  <div class="field">
    <%= f.label "※メールアドレス　　：　" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",:size => "40" %>
  </div>

  <div class="field">
    <%= f.label "※パスワード　　　　：　" %>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上入力してください。)</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "※パスワード（確認）：　" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

　<div class="field">
    <%= f.label "性別　：　" %>
      <label><%= f.radio_button :gender, :man %> 男 </label>
      <label><%= f.radio_button :gender, :woman %> 女</label>
      <label><%= f.radio_button :gender, :custom %> その他</label>
  </div>

  <div class="field">
    <%= f.label "生年月日　：　" %>
    <%= f.date_select :birth_date, 
          start_year: 1930,
          end_year: (Time.now.year - 18), 
          default: Date.new(1990, 1, 1) %>
  </div>

  <p style="text-align: right;"><strong>※は入力必須です。</strong></p>

    <div class="actions">
      <%= f.submit "登録する" %>
    </div>
<% end %>

<%= render "users/shared/links" %>

</div>
